@CHARSET "ISO-8859-1";
/* for general page look  */


body, p, legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif;
}

legend {

    font-weight: bold;
    color: #00cc66;
}

fieldset {

    padding: 15px;
    border: 2px #00cc66 solid;

}


/* Form */


form label {

    float: left;
    width: 200px;
    margin: 2px 0px 0px 0px;

}


form input {

    margin: 2px 2px 2px 0px;
    border: 1px black solid;

}


form input.noLabel {

    margin-left: 250px;

}

form .errors{
	color: red;
	background: yellow;
}
form .success{
	color: green;
}

form .required {

    color: #004d26;

}

/* search page */

form .searchOp{
	width:100px;
}

form .searchResult{
	width:auto;
	border:1px solid green;
	
	padding: 15px;
}

table, th, td {
   border: 1px dotted black;
   width:auto;
   padding: 10px;
}